body {
    position: relative;
    height: 100vh;
}

.btn-start,
.quiz-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.quiz-box.active{
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}

.quiz-box{
    width: 550px;
    opacity: 0;
    pointer-events: none;

    transform: translate(-50%, -50%) scale(0.7);
    transition: 0.3s ease;
}

.quiz-box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz-box .question-text{
    font-size: 22px;
    font-weight: 600;
}

.quiz-box .option-list{
    padding: 18px 0;
}

.quiz-box .option-list .option{
    border: 1px solid #151d3b;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box .option-list .option:hover{
    color: #112b2c;
    background: #ffd33d;
}

.quiz-box .option-list .option.correct{
    color: #155724;
    background: #d4edda;
}

.quiz-box .option-list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
}

/* şık seçimi yapıldıktan sonra diğer şıklara tıklanamaz */
.quiz-box .option-list .option.disabled{
    pointer-events: none;
}

.quiz-box .next-btn{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.quiz-box .next-btn.show{
    opacity: 1;
    pointer-events: auto;
}